RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/project/(stream|api|apilogs)\.php$ [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/database\.php$ [NC]
RewriteRule ^ - [L]

RewriteRule ^(.*)$ gateway.php [L,QSA]